<%= render 'layouts/header' %>
<br>

<% if logged_in? %>

<nav class="navbar navbar-dark bg-light">
  <div class="container">
  <% @featured_coins.each do |symbol, name| %>   
    <i style="color:rgb(12, 12, 12);" class="cf-<%=name['symbol'].downcase[0..name['symbol'].length-5]%> cf-2x"></i> 
    <p style="color:rgb(12, 12, 12);"><%=name['price']%>$</p>
    <% if @prices_change[@featured_index] %> 
    <i style="color:rgb(0, 128, 0);" class="bi bi-arrow-up"></i>
    <% else %>
    <i style="color:rgb(255, 0, 0);" class="bi bi-arrow-down"></i>
    <% end %>
    <%@featured_index+=1%> 
    <% end %>
      </div>
  <% end %> 
</nav>
<br>
<div class="row">
<% @Currencies_hash.each do |symbol, price| %>  
  <div class="col-sm-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%=symbol%></h5>
        <i class="cf-<%=symbol[0..2].downcase%>  cf-2x"></i>  
        <i class="cf-<%=symbol[0..3].downcase%>  cf-2x"></i>
        <i class="cf-<%=symbol[0..4].downcase%>  cf-2x"></i>
        <p class="card-text"><%=price%></p>
        <% if logged_in? %>
        <%= form_with(url: root_path, scope: :session, local: true) do |f| %>
        <%= f.submit "Favorite", class: " mt-2 btn btn-primary" %>
        <input type="hidden" id="symbol" name="symbol" value=<%=symbol%>>
        <% end %>
        <% else %>
        <%= link_to "Log in to access more features", login_path, class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  
</div>