<%= render 'layouts/header' %>
<br>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">symbol</th>
      <th scope="col">priceChange</th>
      <th scope="col">priceChangePercent</th>
      <th scope="col">weightedAvgPrice</th>
      <th scope="col">lastPrice</th>
      <th scope="col">lastQty</th>
      <th scope="col">bidPrice</th>
      <th scope="col">bidQty</th>
      <th scope="col">askPrice</th>
      <th scope="col">askQty</th>
      <th scope="col">openPrice</th>
      <th scope="col">highPrice</th>
      <th scope="col">lowerprice</th>
      <th scope="col">volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @portoflio.each do |symbol| %>  

      <th scope="row"><%=symbol['symbol']%></th>
      <td><%=symbol['symbol']%> 
      </td>
      <td><%=symbol['priceChange']%></td>
      <td><%=symbol['priceChangePercent']%></td>
      <td><%=symbol['weightedAvgPrice']%></td>
      <td><%=symbol['lastPrice']%></td>
      <td><%=symbol['lastQty']%></td>
      <td><%=symbol['bidPrice']%></td>
      <td><%=symbol['bidQty']%></td>
      <td><%=symbol['askPrice']%></td>
      <td><%=symbol['askQty']%></td>
      <td><%=symbol['openPrice']%></td>
      <td><%=symbol['highPrice']%></td>
      <td><%=symbol['lowerprice']%></td>
      <td><%=symbol['volume']%></td>
    </tr>
    <% end %>
      </tbody>
</table>
</div>
